@model IEnumerable<Appointment>

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th>Id</th>
            <th>Client Name</th>
            <th>Caregiver Name</th>
            <th>Date & Time</th>
            <th>Location</th>
            <th></th>
        </tr>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.AppointmentId</td>
                <td>@(appointment.Client?.Name ?? "-")</td>
                <td>@(appointment.Caregiver?.Name ?? "-")</td>
                <td>@appointment.Date</td>
                <td>@appointment.Location</td>
                <td>
                    <a asp-action="Update" asp-route-id="@appointment.AppointmentId">Update</a>
                    <a asp-action="Delete" asp-route-id="@appointment.AppointmentId">Delete</a>
                </td>
            </tr>
        }
    
    </table>
    <p>
        <a class="btn btn-secondary"
            asp-controller="Appointment"
            asp-action="Create">Create new Appointment</a>
    </p>
</div>
