@model app_ointment_backend.Models.Appointment
@using Microsoft.AspNetCore.Http

@{
    var roleInt = Context.Session.GetInt32("CurrentUserRole");
    //var isClient = roleInt.HasValue && (UserRole)roleInt.Value == UserRole.Client;
}

<h2>Create New Appointment</h2>

<form asp-action="Create" method="post" asp-route-clientId="@ViewBag.ForClientId">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>


<div class="form-group">
    <label for="SelectedSlot">Select an available 1h slot</label><span class="text-danger">*</span>
    <select id="SelectedSlot" name="SelectedSlot" class="form-control">
        <option value="">-- Select a time slot --</option>
        @if (ViewBag.AvailableSlots != null)
        {
            foreach (var item in (IEnumerable<SelectListItem>)ViewBag.AvailableSlots)
            {
                <option value="@item.Value">@item.Text</option>
            }
        }
    </select>
</div>
    
<div class="form-group">
    <label asp-for="Location">Location</label>
    <input asp-for="Location" class="form-control" />
    <span asp-validation-for="Location" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description">Description</label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
 </div>
<button type="submit" class="btn btn-primary">Create</button>
<a asp-action="TableById" asp-route-clientId="@ViewBag.ForClientId" class="btn btn-secondary">Back to Table View</a>
</form>
